label{
    color: rgb(255, 0, 0);
    font-size: 1rem;
    font-weight: 800;
}

form{
    text-align: left;
}

p{
    line-height: 1.9;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: dashed;
}
